<ul>
  <select (change)="onChange($event.target.value)">
    <option value="allAlcohols" selected="selected">All Alcohols</option>
    <option value="low alcohol">Low Alcohol Content (<5&#37;)</option>
    <option value="mod alcohol">Moderate to High Alcohol Content (>5&#37;)</option>
 </select>
 <br>
  <li class="unique-font" [class]="priceColor(currentKeg)" *ngFor="let currentKeg of childBeerStock | alcoholness:filterByAlcoholness">{{currentKeg.name}}
    <ul>
      <li>Manufactured By {{currentKeg.brand}}</li>
      <li>${{currentKeg.price}}</li>
      <li>{{currentKeg.alcoholContent}}% ABV</li>
      <li>{{currentKeg.remainingKegs}} Kegs Remaining ({{currentKeg.remainingPints}} Pints Remaining in current Keg)</li>
      <button (click)="editButton(currentKeg)">Edit!</button>
      <button (click)="sendSale(currentKeg)">Sell a pint</button>
    </ul>
  </li>
</ul>
