<ul>
  <li class="unique-font" [class]="priceColor(currentKeg)" *ngFor="let currentKeg of childBeerStock">{{currentKeg.name}}
    <ul>
      <li>Manufactured By {{currentKeg.brand}}</li>
      <li>${{currentKeg.price}}</li>
      <li>{{currentKeg.alcoholContent}}% ABV</li>
      <li>{{currentKeg.remainingKegs}} Kegs Remaining ({{currentKeg.remainingPints}} Pints Remaining in current Keg)</li>
      <button (click)="sellPint(currentKeg, 1)">Sell a pint</button>
      <button (click)="sellPint(currentKeg, 5)">Sell 5 pints</button>
    </ul>
  </li>
</ul>
